.update {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }
.update-block {
    margin: 50px;
    background-color: #fff;
    max-width: 800px;
    padding: 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
  }
  .update-block-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid darkcyan;
  }
  .update-form {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .update-form-email, .update-form-phone, .update-form-submit {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .audience-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    font-size: 20px;
  }
  .audience-information input {
    height: 35px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
    background-color: rgb(241, 247, 247);
    border-radius: 10px;
  }
  .update-form-submit {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .update-form-submit button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: cadetblue;
  color: #fff;
  }
  .update-form-submit button:hover {
    background-color: darkcyan;
    color: #fff;
  }
  .update-form-submit {
    display: flex; 
    align-items: center;
  }
  .update-form-submit p {
    font-size: 18px;
  }